<h1>List Cycles in Dojo</h1>

<h5>Number of Cycles:
<%= @allCycles.count %>
<BR>

<% @allCycles.each do |cycle| %>
    <tr>
	    <td><%= cycle %></td>
	   
      <BR><BR>
    </tr>
  <% end %>


</h5>
